USE [DatabaseContext.FestivalContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Ssn] [nvarchar](max) NULL,
	[FName] [nvarchar](max) NULL,
	[LName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Info] [nvarchar](max) NULL,
	[PicPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[Row] [nvarchar](max) NULL,
	[Num] [int] NOT NULL,
	[ShowId_ShowId] [int] NOT NULL,
	[Ticket_TicketId] [int] NULL,
 CONSTRAINT [PK_dbo.Seats] PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shows]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shows](
	[ShowId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNum] [int] NOT NULL,
	[wheelChair] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[MovieId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2020-05-31 22:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ShowId] [int] NOT NULL,
	[SeatNum] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[WheelChair] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Ssn], [FName], [LName], [PhoneNumber]) VALUES (1, N'199904142735', N'Jesper', N'Eriksson', N'0703357725')
INSERT [dbo].[Customers] ([CustomerId], [Ssn], [FName], [LName], [PhoneNumber]) VALUES (4, N'200004241337', N'Daniel', N'Karlsson', N'0704567654')
INSERT [dbo].[Customers] ([CustomerId], [Ssn], [FName], [LName], [PhoneNumber]) VALUES (5, N'200105678987', N'Johan', N'Karlsson', N'0706545678')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieId], [Name], [Info], [PicPath]) VALUES (1, N'The Shining', N'146 minuter, 1980, Horror, Drama, A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.', N'C:\Users\Jespe\OneDrive\Bilder\TentaBilder')
INSERT [dbo].[Movies] ([MovieId], [Name], [Info], [PicPath]) VALUES (2, N'The Thing', N'109 minuter, 1982, Horror, Mystery, Sci-Fi, A research team in Antarctica is hunted by a shape-shifting alien that assumes the appearance of its victims.', N'C:\Users\Jespe\OneDrive\Bilder\TentaBilder')
INSERT [dbo].[Movies] ([MovieId], [Name], [Info], [PicPath]) VALUES (3, N'Alien', N'117 minuter, 1979, Horror, Sci-Fi, After a space merchant vessel receives an unknown transmission as a distress call, one of the crew is attacked by a mysterious life form and they soon realize that its life cycle has merely begun.', N'C:\Users\Jespe\OneDrive\Bilder\TentaBilder')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Shows] ON 

INSERT [dbo].[Shows] ([ShowId], [RoomNum], [wheelChair], [StartTime], [MovieId]) VALUES (1, 1, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime), 1)
INSERT [dbo].[Shows] ([ShowId], [RoomNum], [wheelChair], [StartTime], [MovieId]) VALUES (2, 2, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime), 2)
INSERT [dbo].[Shows] ([ShowId], [RoomNum], [wheelChair], [StartTime], [MovieId]) VALUES (3, 3, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Shows] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketId], [CustomerId], [ShowId], [SeatNum], [MovieId], [WheelChair], [StartTime]) VALUES (1, 1, 2, 14, 2, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime))
INSERT [dbo].[Tickets] ([TicketId], [CustomerId], [ShowId], [SeatNum], [MovieId], [WheelChair], [StartTime]) VALUES (2, 1, 2, 15, 2, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime))
INSERT [dbo].[Tickets] ([TicketId], [CustomerId], [ShowId], [SeatNum], [MovieId], [WheelChair], [StartTime]) VALUES (4, 4, 10, 16, 10, 0, CAST(N'2020-07-11T20:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((0)) FOR [ShowId_ShowId]
GO
ALTER TABLE [dbo].[Shows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shows_dbo.Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shows] CHECK CONSTRAINT [FK_dbo.Shows_dbo.Movies_MovieId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Customers_CustomerId_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Customers_CustomerId_CustomerId]
GO
